* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

:root {
    --var-bg_color: rgba(246, 248, 249, 1);
    --var-blue: rgba(20, 170, 245, 1);
    --var-purple: rgba(171, 93, 230, 1);
    --var-dark_green: rgba(44, 198, 171, 1);
    --var-orange: rgba(255, 155, 0, 1);
    --var-dark_pink: rgba(236, 74, 157, 1);
    --var-green: rgba(163, 209, 22, 1);
}

.logo {
    padding: 1rem 0 1rem 1.5rem
}

.logo_image {
    vertical-align: bottom;
}

.logo_text {
    font-size: 2.5rem;
    font-weight: bold;
}