/* #region Utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

:root {
    --var-bg_color: rgba(246, 248, 249, 1);
    --var-blue: rgba(20, 170, 245, 1);
    --var-purple: rgba(171, 93, 230, 1);
    --var-dark_green: rgba(44, 198, 171, 1);
    --var-orange: rgba(255, 155, 0, 1);
    --var-dark_pink: rgba(236, 74, 157, 1);
    --var-green: rgba(163, 209, 22, 1);
    --var-dark_grey: rgba(67, 72, 81, 1);
}

strong {
    color: var(--var-dark_grey)
}

/* Icons */

.icon_editorial {
    display: inline-block;
    background-color: var(--var-blue);
    color: white;
    font-size: 0.6rem;
    border-radius: 0.8rem;
    padding: 8px 10px;

}

.icon_q1goals {
    display: inline-block;
    background-color: var(--var-purple);
    color: white;
    font-size: 0.6rem;
    border-radius: 0.8rem;
    padding: 8px 10px;
}

.icon_recruiting {
    display: inline-block;
    background-color: var(--var-dark_green);
    color: white;
    font-size: 0.6rem;
    border-radius: 0.8rem;
    padding: 8px 10px;
}

.icon_mobile {
    display: inline-block;
    background-color: var(--var-orange);
    color: white;
    font-size: 0.6rem;
    border-radius: 0.8rem;
    padding: 8px 10px;
}

.icon_website {
    display: inline-block;
    background-color: var(--var-dark_pink);
    color: white;
    font-size: 0.6rem;
    border-radius: 0.8rem;
    padding: 8px 10px;
}

.icon_sales {
    display: inline-block;
    background-color: var(--var-green);
    color: white;
    font-size: 0.6rem;
    border-radius: 0.8rem;
    padding: 8px 10px;
}

/* #endregion Utilities */

/* #region Header */
.logo {
    padding: 1rem 0 1rem 1.5rem
}

.logo_image {
    vertical-align: bottom;
}

.logo_text {
    font-size: 2.5rem;
    font-weight: bold;
}

/* #endregion Header */

/* #region Main */
#site_main {
    background-color: var(--var-bg_color);
}

.container {
    width: 1550px;
    margin: auto;
    padding: 40px 0 10px;
}

/* #region Buttons section */
.button_region {
    background-color: white;
    margin-bottom: 2px;
    padding: 20px 0 10px 50px;
    border-radius: 0.5rem 0.5rem 0 0;
}

button {
    font-weight: bold;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

#add_task {
    background-color: var(--var-blue);
    color: white;
    border: none;
    margin-right: 3px;
}

#add_section {
    background-color: white;
    color: lightgray;
    border: 1px solid lightgray;
}

/* #endregion Buttons section */

/* #region Tasks section */
.task_region {
    background-color: white;
    margin-bottom: 2px;
    padding: 50px;
    border-radius: 0 0 0.5rem 0.5rem;
}

#checkmark {
    display: inline-block;
    color: var(--var-dark_green);
    font-size: 0.6rem;
    font-weight: bold;
    border: 1px solid var(--var-dark_green);
    border-radius: 100%;
    padding: 3px 6px 4px 6px;
    margin-right: 0.5rem;
}

#cross {
    display: inline-block;
    color: red;
    border: 1px solid red;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 5.5px 0 5px;
    margin-right: 0.5rem;
}

.task_section {
    margin-bottom: 2rem;
}

.tasks_list {
    margin-left: 0.5rem;
}

.task {
    color: var(--var-dark_grey);
    margin: 0.5rem 0.5rem 1rem 0;
}

/* #endregion Tasks section */


/* #endregion Main */